<h1>Welcome to the laser!</h1>
<form action="/session" method="post">
  <p>
    <label>NYU Login:</label> <input name="login" type="text" />
  </p>
  <p>
    <label>NYU Password</label> <input name="password" type="password" />
  </p>
  <p>
    <input type="submit" value="login" />
  </p>
</form>