<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title>ITP LASER!!!!!</title>
    <style>
      .status_approved {
        color: green;
      }
      
      .status_pending {
        color: red;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
