<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title>ITP LASER!!!!!</title>
    <style>
      .status_approved {
        color: green;
      }
      
      .status_pending {
        color: red;
      }
      
      #error {
        color: red;
      }
      
      #notice {
        color: green;
      }
      
    </style>
  </head>
  <body>
    <% if flash[:error] %>
    <div id="error">
      <%= flash[:error] %>
    </div>
    <% end %>
    <% if flash[:notice] %>
    <div id="notice">
      <%= flash[:notice] %>
    </div>
    <% end %>
    <%= yield %>
  </body>
</html>
